@charset "UTF-8";

/* CSSリセットコード */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* ーーーーーーーーーー */
/* cssリセットここまで */
/* ーーーーーーーーーー */

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    padding: 0 30px;
}

.header-logo {
    color: #00277e;
    font-size: 35px;
}

.header-nav ul {
    display: flex;
    font-weight: bold;
}

.header-nav li {
    font-size: 20px;
    color: #00277e;
    padding-left: 35px;
}
 
.main {
    position: relative;
}

.container {
    width: 50%;
    margin: 100px 0 0 auto;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

p {
    font-size: 70px;
    color: #00277e;
    position: absolute;
    bottom: 100px;
}

.box {
    width: 75%;
    height: 200px;
    background-color: #000B62;
    position: absolute;
    bottom: -100px;
    z-index: -1;   
}

@media screen and (max-width: 768px) {

.header-wrap{
    width: 90%;/*header-logoそのまま　横のサイズを９０％指定*/
}

.header-nav {
    display: none;/*nav消す*/
}

.hamburger {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 100;
    right: 20px;
    transition: 0.4s;
}

.hamburger span {
    position: absolute;
    left: 2px;
    width: 100%;
    display: block;
    height: 2px;
    color:#00277e;
    transition: 0.8s;
}

.hamburger span:nth-of-type(1) {
    top: 10px;
}

.hamburger span:nth-of-type(2){
    top: 20px;
}

.hamburger span:nth-of-type(3) {
    top: 30px;
}

p {
    font-size: 55px;
    text-align: center;
    width: 100%;
    bottom: 50%;
}

.container {
    width: 90%;
    margin: 0 0 0 10%;
}

.box {
    width: 90%;
    bottom: 0;
}

.main {
    height: calc(100vh - 70px);
}
}
